<div id="content-wrapper">


  <!-- INTRO
  ============================================= -->
  <section id="intro" class="intro-parallax">
    <div class="container">
      <div class="row">

        <!-- Intro Section Description -->
        <div id="intro_description" class="col-sm-7 col-md-7">

          <!-- Intro Section Title -->
          <h1><strong>Express Box</strong> es la manera<strong> mas simple</strong> de recibir<strong> tus compras</strong></h1>

          <!-- Description #1 -->
          <div class="intro_feature">
            <h4><span class="fa-stack fa-2x">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <strong class="fa-stack-1x">1</strong>
                </span>
                Registro Gratuito
            </h4>
            <p>Para poder acceder a nuestros servicios regístrate gratis como socio de Expressbox.
              Recuerda que tu código de socio comienza con las letras de tu país de registro.
              Ejemplo: PE00000 (corresponde a Peru).
            </p>
          </div>

          <!-- Description #2 -->
          <div class="intro_feature">
            <h4><span class="fa-stack fa-2x">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <strong class="fa-stack-1x">2</strong>
                </span> Compras por Internet</h4>
            <p>En nuestra sección de compras por internet encontrarás tiendas seguras y las mejores ofertas.
              Cuando vayas a pagar, escribe tu código de socio antes de tu nombre y apellido.
               Y en el shipping address coloca nuestra dirección de Estados Unidos como si fuera tu casa.
            </p>
          </div>

          <!-- Description #3 -->
          <div class="intro_feature">
            <h4><span class="fa-stack fa-2x">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <strong class="fa-stack-1x">3</strong>
                </span>Pre-Alertas</h4>
            <p>Te llegará un email de confirmación con los datos de compra, compañía de courier y Tracking Number.
               Debes ingresar en tu cuenta de Expressbox y hacer la pre-alerta de tu envío.
               Pre-Alertar tu paquete es la forma más segura de optimizar tiempos de envío y evitar fallos en las entregas.
            </p>
          </div>

          <!-- Intro Section Button -->

        </div>	<!-- End Intro Section Description -->


        <!-- Intro Section Form -->
        <div id="intro_form" class="col-sm-5 col-md-5">

          <!--Register form -->
          <div class="form_register">
            <h2> Registrate ahora! </h2>

            <form action="http://dsathemes.com/html/crossway/fixed_menu/contact.php" name="contactform" class="row" method="post">

              <div id="input_name" class="col-md-12">
                <input id="name" class="form-control" type="text" name="first_name" placeholder="Nombres">
              </div>

              <div id="input_name" class="col-md-12">
                <input id="surname" class="form-control" type="text" name="first_name" placeholder="Apellidos">
              </div>

              <div id="input_email" class="col-md-12">
                <input id="email" class="form-control" type="text" name="email" placeholder="Email">
              </div>

              <div id="input_phone" class="col-md-12">
                <input id="phone" class="form-control" type="text" name="phone" placeholder="Numero Telefonico">
              </div>
              <div id="input_phone" class="col-md-12">
                <input id="phone" class="form-control" type="text" name="phone" placeholder="Pais">
              </div>


              <div id="input_message" class="col-md-12">
                <textarea id="address" class="form-control" name="message" rows="6" placeholder="Direccion ..."></textarea>
              </div>

              <!-- Submit Button -->
              <div id="form_register_btn" class="text-center">
                <input class="btn btn-primary btn-lg" type="submit" value="Registrar" id="submit">
              </div>

            </form>

          </div>
        </div>	<!-- End Intro Section Form -->

      </div>	<!-- End row -->

    </div>	   <!-- End container -->
  </section>  <!-- END INTRO -->


  <!-- ABOUT-1
  ============================================= -->
  <section id="about-1">
    <div class="container">

      <!-- Section Title -->
      <div class="row">
        <div class="col-md-12 titlebar">



          <h1>Somos una Empresa Lider de courier <strong>en Peru</strong> para el traslado de compras por internet desde los Estados Unidos</h1>
          <p>Ofrecemos servicio de entrega a domicilio sin ningún costo adicional, retiro en cualquiera de nuestras sucursales y por si fuera poco centro de atención telefónica y electrónica. </p>
        </div>
      </div>

      <div class="row">

        <!--  About-1 Text -->
        <div id="about-1-text" class="col-md-6">

          <h4>Nuestro Compromiso?</h4>
          <p>Garantizar la seguridad e integridad de los valores de nuestros clientes,
             brindar una excelente asesoría y superar continuamente sus expectativas. trabajamos con honestidad para brindarle a nuestros clientes la mejor atención.
          </p>

          <!--  Accordion -->
          <div id="accordion_holder">
            <h4>Por que deberias elegirnos?</h4>

            <ul class="accordion clearfix">

              <!-- Text #1 -->
              <li id="text_1">
                <a href="#text1">Honestidad</a>
                <div>
                  <p>
                  </p>
                </div>
              </li>

              <!-- Text #2 -->
              <li id="text_2">
                <a href="#text2">Compromiso</a>
                <div>
                  <p>
                  </p>
                </div>
              </li>

              <!-- Text #3 -->
              <li id="text_3">
                <a href="#text3">Responsabilidad</a>
                <div>
                  <p>
                  </p>
                </div>
              </li>

            </ul>

          </div>	<!--  End Accordion -->

        </div>	<!-- End About-1 Text -->

        <!-- About-1 Image -->
        <div id="about-1-img" class="col-md-6 text-center">
          <%= image_tag "thumbs/startup-1.png", :class=>"img-responsive" %>

        </div>

      </div>	<!-- End row -->
    </div>	   <!-- End container -->
  </section>  <!-- END ABOUT-1 -->


  <!-- ABOUT-2
  ============================================= -->
  <section id="about-2">
    <div class="container">


      <div class="row">
        <div class="col-md-12 titlebar">



        <center>	<h1>Es muy  <b>facil ahora</b> ubicar tus productos <strong>con el tracking</strong></h1></center>

          <p>
            <div class="form_register">

              <form action="http://dsathemes.com/html/crossway/fixed_menu/contact.php" name="contactform" class="row" method="post">

                <div id="input_name" class="col-md-12">
                  <input id="name" class="form-control" type="text" name="first_name" placeholder="# Tracking">
                </div>

                                    <!-- Submit Button -->
                <div id="form_register_btn" class="text-center">
                  <input class="btn btn-primary btn-lg" type="submit" value="Buscar Tracking" id="submit">
                </div>

              </form>

            </div>


          </p>



        </div>
      </div>
    </div>	  <!-- End container -->
  </section>  <!-- END ABOUT-2 -->


  <!-- FEATURES
  ============================================= -->
<!--	<section id="features" class="parallax">
    <div class="container">

      <!-- Section Title -->
      <!--		<div class="row">
        <div class="col-md-12 titlebar">
          <h1>Nuestros   <strong>Partners</strong></h1>
          <p>Es posible que existan dudas que no han sido contempladas aca, tomese la libertad de hacernos sus sugerencias y reflejarnos sus dudas. </p>
        </div>
      </div>

      <!-- Features Holder -->
      <!--		<div class="row">
        <div class="col-md-12">



        </div>	 <!-- End col-md-12 -->
        <!--	</div>	  <!-- End Features Holder -->

      <!--	</div>	   <!-- End container -->
    <!--	</section>  <!-- END FEATURES -->




  <!-- CALL TO ACTION
  ============================================= -->
  <!--		<section id="call-to-action" class="parallax">
    <div class="container">
      <div class="row">

        <!-- Call To Action Content -->
    <!--				<div class="col-sm-12 text-center">

          <h1>The Most <strong>Simple Way</strong> to launch your <strong>startup</strong></h1>
          <p>Praesent semper, lacus sed cursus porta, odio augue feugiat primis in faucibus ultrices posuere cubilia Curae;
             Integer congue leo metus, mollis lorem viverra.
          </p>

          <!-- Call To Action Button -->
        <!--			<a class="btn btn-primary btn-lg">Download Now</a>

        </div>	<!-- End Call To Action Content -->

        <!--	</div>	<!-- End row -->
      <!--	</div>	   <!-- End container -->
    <!--	</section>  <!-- END CALL TO ACTION -->


  <!-- FOOTER
  ============================================= -->
  <footer id="footer">
    <div class="container">
      <div class="row">

        <!-- Footer Navigation -->
        <div id="footer_nav" class="col-sm-6 col-md-4">
          <ul class="footer-nav clearfix">
            <li><a href="#">Contactos</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Terminos</a></li>
          </ul>

          <div id="footer_copy">
            <p>&copy; Copyright 2014 Expressbox All Right Reserved</p>
          </div>
        </div>	<!-- End Footer Navigation -->


        <!-- Footer Social Icons -->
        <div id="footer_icons" class="col-sm-6 col-md-4 text-center">
          <ul class="footer-socials clearfix">
            <li><a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>

          </ul>
        </div>	 <!-- End Footer Social Icons -->

        <!-- Newsletter Form -->
        <div class="col-md-4">
          <div id="newsletter_form" class="col-sm-12">
            <div class="clearfix">
              <form id="subscribe-form" class="subscribe-form pull-right" action="http://dsathemes.com/html/crossway/fixed_menu/newsletter.php" method="post">
                <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address...">
                <button type="submit" class="subscribe-submit">Suscribete</button>
              </form>
            </div>
            <p id="newsletter-paragraph" class="pull-right">Unete a la lista de noticias, mantente informado</p>
          </div>
        </div>	<!-- End Newsletter Form -->

      </div>	<!-- End row -->
    </div>	  <!-- End container -->
  </footer>	<!-- END FOOTER -->


</div>	<!-- END CONTENT WRAPPER -->
