<div class="row">
    <aside class="profile-nav col-lg-3">
        <section class="panel">
            <div class="user-heading round">
                <a href="#">
                  <%= image_tag "admin/profile-avatar.jpg"%>

                </a>
                <h1><%= current_user.name.capitalize+' '+current_user.lastname.capitalize%></h1>
                <p><%=current_user.email%></p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li><a href="profile-activity.html"> <i class="icon-calendar"></i> Actividad Reciente <span class="label label-danger pull-right r-activity">9</span></a></li>
                <li><a href="profile-edit.html"> <i class="icon-edit"></i> Editar perfil</a></li>
            </ul>

        </section>
    </aside>
    <aside class="profile-info col-lg-9">
        <section class="panel">
            <form>
                <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
            </form>
            <footer class="panel-footer">
                <button class="btn btn-danger pull-right">Post</button>
                <ul class="nav nav-pills">
                    <li>
                        <a href="#"><i class="icon-map-marker"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-camera"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class=" icon-film"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-microphone"></i></a>
                    </li>
                </ul>
            </footer>
        </section>
        <section class="panel">
            <div class="bio-graph-heading">
                Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
            </div>
            <div class="panel-body bio-graph-info">
                <h1>Bio Graph</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>First Name </span>: Jonathan</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Name </span>: Smith</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span>: Australia</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Birthday</span>: 13 July 1983</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Occupation </span>: UI Designer</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: jsmith@flatlab.com</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile </span>: (12) 03 4567890</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Phone </span>: 88 (02) 123456</p>
                    </div>
                </div>
            </div>
        </section>

    </aside>
</div>
