<p>Hola <%= @resource.name.capitalize %>!</p>

<p>Haz solicitado un cambio a tu password , tu puedes hacerlo a traves del siguien enlace.</p>

<p><%= link_to 'Cambiar mi Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no hiciste esta peticion, por favor ignora este correo.</p>
<p>Tu password no sera cambiado hasta que no accedas el link creado para solicitar una nueva clave.</p>

<p>El equipo de Expressbox</p>
